<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="referrer" content="no-referrer" />

    <title>Asgardeo-ExpressJS Sample Application</title>

    <link href="css/landing.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="root">
        <div>
            <form action="/login">
                <button class="btn-custom" type="submit">Login with
                    Asgardeo</button>
            </form>
        </div>
        <a href="https://accounts.asgardeo.io/t/charithr/accountrecoveryendpoint/register.do?sp=express2_Sandbox">Signup</a>
    </div>

</body>

</html>